.element__like {
    cursor: pointer;
    opacity: 1.0;
    margin-bottom: 6px;
    border: none;
    background: url('../../../images/elements/like.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    width: 40px;
    height: 19px;
}

.element__like:hover {
    opacity: 0.5;
}