.header {
    width: calc(100% - 200px * 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 0 0;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {

    .header {
        width: 100%;
        padding: 28px 0 0;
    }
}