.footer {
    width: 880px;
    display: flex;
    flex-direction: row;
    margin: 67px auto 0;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {

    .footer {
        margin: 48px auto 0;
        width: calc(100% - 19px * 2);
    }
}