.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}