.form__submit_type_disabled {
    background-color: #FFFFFF !important;
    color: #000000;
    border: 1px solid #000000;
    opacity: 0.15;
}

.form__submit_type_disabled:hover {
    opacity: 0.15;
}