.profile__info {
    width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 30px;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {

    .profile__info {
        width: 282px;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
    }
}